.container {
    position: relative;
    padding: 1rem;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}

.loaded {
    display: none;
}

.loading-icon {
    width: 5rem;
    height: 5rem;
}

.acc-btn-icon::after {
    margin-left: 1rem;
}
